@mixin vignetteDesktop {
    @include boxShadow();
    border-radius:7%;
    width: 300px;
}

@mixin vignetteMobile {
    @include boxShadow();
    width: 100px;
    border-radius: 50%;
}

@mixin vignetteAPropos {
    @include boxShadow();
    width: 300px;
    border-radius: 50%;
}

@mixin positionMain {
    width: 70%;
    margin: auto;
}

@mixin positionMainResponsive{
    width: 100%;
    margin: 0;
}

@mixin boxShadow{
    display: block;
    border: 5px solid color("degrad1_");
    box-shadow: 2px 2px 10px 2px color("ombre");
}
