@mixin logoPortrait {
    display: block;
    border-radius:7%;
    width: 300px;
    border: 3px solid color("black");
    box-shadow: 2px 2px 10px 2px color("ombre");
}

@mixin positionMain {
    width: 70%;
    margin: auto;
}

@mixin positionMainResponsive{
    width: 100%;
    margin: 0;
}

@mixin vignetteExperience {
    width: 100px;
    border-radius: 50%;
    border: 5px solid color("degrad1_");
    box-shadow: 2px 2px 10px 2px color("ombre");
}
