:root {
    box-sizing: border-box;
}

$colors: (
    "black": #333,
    "white": #FFF,
    "grise":rgb(187, 187, 187),
    "fond" : #404040,
    "or": rgb(235, 180, 44),
    "ombre":#000000b4,
    "headerPDP":#000,
    
    "degrad1_":#202020,
    "degrad2_":#6D6D6D,
    
    "closeButton": #133133,
    "darkBlue":#19354d,
    "shadow" : rgba(255, 255, 255, 0.15),

    "circle1": #53898d8c,
    "navResponsive": #2F6265,
    "confirmationMessage": #14550f,
    "degrad2": #164c50,
    "degrad1": #082527,
    "colorTest6": #341513,
    "circle": #5627244d,
    "colorTest8": #341322,
    "colorTest9": #082426,
);

//définition de la taille des caractères
$default-font-size: 1rem;
$font-sizes: (
    "xxs": $default-font-size * 0.5,
    "xs": $default-font-size * 0.8,
    "sm": $default-font-size * 0.9,
    "md": $default-font-size,
    "lg": $default-font-size * 1.2,
    "xl": $default-font-size * 1.5,
    "xxl": $default-font-size * 2,
);

//Définition de la taille des titres
$heading-font-sizes:(
    1: $default-font-size * 2,
    2: $default-font-size * 1.5,
    3: $default-font-size * 1.3,
    4: $default-font-size,
    5: $default-font-size * 0.9,
    6: $default-font-size * 0.8,
);

//Définition de la taille des espaces dans le site
$default-spaces: 1rem;
$spaces-sizes: (
    0: 0,
    1: $default-spaces * 0.25,
    2: $default-spaces * 0.5,
    3: $default-spaces,
    4: $default-spaces * 1.5,
    5: $default-spaces * 3,
);

$default-radius : 5px;

