//Mise en forme de _apropos.scss
@use "../utils/fonctions" as fn;
@use "../utils/mixins" as mix;

#pageContent {
    & main {
        display: flex;
        flex-direction: row;
    }

    & #imgPortrait img {
        @include mix.vignetteAPropos;
    }
}

.btn-apropos {
    margin-top: 1rem;
}
