/* Début de la mise en forme de la page experiences */
.vignette {
    @include vignetteMobile;
}

#expPro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin: 0 0 20px 0;

    & > h1 {
    font-size: police("xl");
    color: color("white");
    }
}

#expNav {
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
}

#expZone > li {
    font-size: police("sm");
}

 #compZone > li{
    font-size: police("sm");
 }
