/* Début de la mise en forme du header*/
#mainHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    & img{
        width: 250px;
        height: auto;
    }
}

#navigation{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0 10px;
    & a{
        text-decoration: none;
        list-style-type: none;
        color: color("or");
        &:hover{
            color: color();
            text-shadow: 2px 1px 2px color("grise");
        }
    }
    & li {
        display: inline;
        font-family: "zen dots";
        font-size: police("md");
    };
}

#openBtn, #closeBtn {
    display: none;
}

#pageContainer{
    max-width: 1100px;
}

#pageContainer {
  max-width: 1200px;         // Largeur maximale pour écran large
  width: 100%;               // S’adapte aux petits écrans
  margin: 0 auto;            // Centrage horizontal automatique
  padding: 2rem 1rem;        // Un peu de respirations sur les côtés
  display: flex;
  flex-direction: column;
  align-items: center;       // Centre les enfants horizontalement
}
