/* Début de la mise en forme du header*/
#mainHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    & img{
        width: 400px;
        height: auto;
        margin: 20px;
    }
}

#navigation{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 20px;
    & a{
        text-decoration: none;
        list-style-type: none;
        color: color("or");
        &:hover{
            color: color();
            text-shadow: 2px 1px 2px color("grise");
        }
    }
    & li {
        display: inline;
        font-family: "zen dots";
        font-size: police("xl");
    };
}

#openBtn, #closeBtn {
    display: none;
}

#pageContainer {
  //max-width: 100vh;         // Largeur maximale pour écran large
  width: 100%;               // S’adapte aux petits écrans
  margin: 0 auto;            // Centrage horizontal automatique
  padding: 4rem 1rem;        // Un peu de respirations sur les côtés
  display: flex;
  flex-direction: column;
  align-items: center;       // Centre les enfants horizontalement
}
