/* Mise en forme de _header.scss*/
@use "../utils/fonctions" as fn;
@use "../utils/mixins" as mix;

#mainHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    background-color: fn.get-color("headerPDP");
    box-shadow: 0 0 15px 0 fn.get-color("grey");
    height: 100px;
    width: 100%;
    z-index: 100;
    & img{
        width: 300px;
        height: auto;
        margin: 20px;
    }
}

#navigation{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 20px;
    & a{
        text-decoration: none;
        list-style-type: none;
        color: fn.get-color("grey");
        &:hover{
            color: fn.get-color("grey");
        }
        &.active{
            color: fn.get-color("or");
        }
    }
    & li {
        @include mix.fontFamily;
        display: inline;
        font-size: fn.get-police("xl");
    };
}

#openBtn, #closeBtn {
    display: none;
}
