/* début de la mise en forme de la page index */
#pageTitre {
    display: flex;
    align-items: center;

    #imgPortrait img{
        @include logoPortrait;
    }
    & div { 
        display: flex;
        flex-direction: column;
    }

    & .titre h1, h2, h3{
        font-size: police("xl");
    }
}
