/* Début de la mise en forme de la partie main.scss */
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    margin: 20px auto; // permet de centrer l'image horizontalement
    max-width: 1800px;
    font-size: police("md");
    font-family: "Josefin Sans", Verdana, sans-serif;
    background-color: color("fond");
    margin: auto;
}

h1, h2, p, li {
    color: color();
}

p {
    text-align: justify;
    margin: 5px 15px;
}

h1, h2 {
    font-size: police("md");
    color: color("or");
    margin: 0;
}

h3 {
    font-size : police("xs");
    color: color("grise");
    margin: 0;
}
#pageContainer {
    position: relative;
    top: 10px;
    z-index: 50;
}

#pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // garantit que le body occupe tout l’écran
    //créé un fond dégradé
    background: color("degrad1");
    background: -moz-linear-gradient(45deg, color("degrad1") 0%, color("degrad2") 62%, color("degrad1") 100%);
    background: -webkit-linear-gradient(45deg,color("degrad1") 0%, color("degrad2") 62%, color("degrad1") 100%);
    background: linear-gradient(45deg, color("degrad1") 0%, color("degrad2") 62%, color("degrad1") 100%);
}

#imgRsxSociaux {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    width: 100%;
    bottom: 30px;

    & img {
        border-radius: 10px;
        width: 40px;
        height: auto;
    }
    & a:hover img {
        transform: scale(1.1);
    }
}
