/* Mise en forme de _main.scss */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
    @include fontFamily;
    //max-width: 1800px;
    font-size: police("md");
    background: color("degrad1");
    background: -moz-linear-gradient(45deg, color("degrad1") 0%, color("degrad2") 62%, color("degrad1") 100%);
    background: -webkit-linear-gradient(45deg,color("degrad1") 0%, color("degrad2") 62%, color("degrad1") 100%);
    background: linear-gradient(45deg, color("degrad1") 0%, color("degrad2") 62%, color("degrad1") 100%);
    margin: 0;
}

p, li, address {
    color: color();
}

p, address {
    font-size: police("sm");
    text-align: justify;
    margin: 5px 15px;
}

h1, h2 {
    color: color("or");
    margin: 0;
}

h1 {
    font-size: police("lg");
}

h2 {
    font-size: police("md");
    margin: 5px 0;
}

h3, h4 {
    font-size : police("xs");
    color: color("grise");
    margin: 0;
}

a {
    color: color("grise"); // ta couleur
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
        text-decoration: underline;
    }

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 3px;
    }
}

#pageContainer {
    flex: 1;
    position: relative;
    min-height: 0;              //autorise le conteneur Flex à rétrécir pour laisser de la place au footer
    overflow-y: auto;               // fait défiler le contenu de #pageContainer au lieu de faire défiler toute la page
    width: 100%;               // S’adapte aux petits écrans
    margin: 0 auto;            // Centrage horizontal automatique
    padding: 2rem 1rem 2rem;        // Un peu de respirations sur les côtés
    display: flex;
    flex-direction: column;
    align-items: center;       // Centre les enfants horizontalement
    z-index: 50;
}

#pageWrapper {
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
