@use "../utils/fonctions" as fn;
@use "../utils/mixins" as mix;

@media screen and (max-width:950px){
/* Mise en forme de _menuBurger.scss */
    #navigation {
        & a {
            color: fn.get-color("grey");
        }

        & li {
            font-size:fn.get-police("lg");
        }
    }

    #mainHeader {
        height: 50px;
        & img{
            width: 40%; // réduit la taille du logo en mode responsive
            margin: 10px;
        }
    }

    /* Bouton Close visible */
    #closeBtn {
        display: block;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: fn.get-police("xl");
        text-decoration: none;
        color: fn.get-color("grey");
        z-index: 3;
    }

    /* Bouton burger visible*/
    #openBtn, #closeBtn {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        cursor: pointer;
    }

    /* Bouton open visible + burger */
    #openBtn{
        display:block;
        position: absolute;
        right: 20px;
        z-index: 2;

        & .burger-icon span {
            display: block;
            width: 20px;
            height: 2px;
            background-color: fn.get-color("grey_more");
            margin: 6px 0;
            transition: 0.4s;
        }
    }

    /* Mise en forme du menu latéral */
    .sidenav{
        height: 100%;
        width: 280px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -280px;
        background-color: fn.get-color("degrad1");
        opacity: 95%;
        padding-top: 60px;
        transition: right .8s ease;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);

        & nav ul {
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;

            & li{
                padding: 10px 20px;

                & a {
                    font-size: fn.get-police("md");
                    text-decoration: none;
                    display: block;
                }
            }
        }
        /* Active class */
        &.active{
            right: 0;
        }
    }
}
