/* Début de la mise en forme du navItems.scss */
  .menuNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }
  .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width:100px;
    border: solid 2px color("grise");
    border-radius : 100%;
    & img {
        width: auto;
        height: 50px;
    };
  }
  .zoneLeft{
    display: flex;
    flex:3;
  }
  .zoneCentrale, .zoneRight{
    display: flex;
    flex-direction:column;
    height: 100px;
    flex:3;
    & div > p{
        min-height : 20px;
    }
  }
  .div1, .div2{
    width:auto;
    height:50px;
  }
  .div1{
    border-bottom:solid 2px color("grise");
  }

  .dots{
    position: absolute;
    display: flex;
}

.dot{
    margin-inline: 5px;
    width: 13px;
    height: 13px;
    background-color: color("or");
    border-radius: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.28);
    &_selected{
        background-color: color();
    }
}
