//_pdp.scss
/* Début de la mise en forme du pdp.scss */
#pdpContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: color("headerPDP");
    box-shadow: 0 0 15px 0 color("grise");
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;

    & a {
        text-decoration: none;
        color: color();
        font-size: police("xxs");
        margin: 0 10px 0;
        text-align: center;
    }
}

#imgRsxSociaux {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    gap: 10px;
    bottom: 20px;
    & img {
        border-radius: 5px;
        width: 30px;
        height: auto;
    }
    & a:hover img {
        transform: scale(1.1);
    }
}
