/* Mise en forme de _pdp.scss */
@use "../utils/fonctions" as fn;
@use "../utils/mixins" as mix;

#footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    background-color: fn.get-color("headerPDP");
    box-shadow: 0 0 15px 0 fn.get-color("grey");
    
    min-height: 100px; // le pdp fait minimum 100px de hauteur.
    width: 100%;
    flex-shrink: 0;

    & a,
    & span {
        text-decoration: none;
        color: fn.get-color();
        font-size: fn.get-police("xxs");
        margin: 0 10px 0;
        text-align: center;
    }
}

#imgRsxSociaux {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    gap: 10px;

    & img {
        border-radius: 5px;
        width: 30px;
        height: auto;
    }
    & a:hover img {
        transform: scale(1.1);
    }
}

#liensGeneraux {
    display: flex;
    flex-wrap:wrap;
}
