.vignette {
    @include vignetteExperience;
}

#expPro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin: 0 0 20px 0;

    & > h1 {
    font-size: police("xxl");
    color: color("white");
}
}


