
/* Début de la mise en forme du responsive.scss - Tablette (758px) */
@media screen and (max-width:950px){

  


/* Mise en forme de la page index */
    #pageTitre {
        flex-direction: column;
    }

    .titre {
        align-items: center;
        margin-top: 30px;

        & h1, h2, h3{
            font-size: police("md");
        }
    }
    
/* Mise en forme de la page apropos*/
    #pageContent #imgPortrait {
        margin: 0;
        & img {
            display: none;
        }
    }

/* Mise en forme de la page compétences*/


/* Mise en page de la page expériences*/
#expPro > h1 {
    font-size: police("lg");
}

} // fin de @media
