/* Mise en forme de _responsive.scss */
@use "../utils/fonctions" as fn;
@use "../utils/mixins" as mix;

/* Tablette */
@media screen and (min-width:700px){

/* Mise en forme de la page index */

    .titre {
        align-items: center;
        margin: 20px 0 20px 0;

        h1,
        h2,
        h3 {
            font-size: fn.get-police("md");
        }
    }
    
/* Mise en forme de la page apropos*/
    #pageContent #imgPortrait {
        margin: 0;
        & img {
            display: none;
        }
    }

/* Mise en forme de la page projet */
    .projects-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .projects-grid{
        grid-template-columns: repeat(2, 1fr);
    }

/* *********************************************************************** */
/* Desktop */
    @media screen and (min-width: 1000px){
    /* Mise en page globale de la version desktop */
        #pageContainer{
            width: min(100% - 4rem, 1200px);
            margin-inline: auto;
        }

    
    /* Mise en forme page projet */
    .projects-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    }
} // fin de @media
