@media screen and (max-width: 1100px){
    /* Sidenav menu */
    #navigation {
        display: none;
    }

    /* Bouton burger visible*/
    #openBtn{
        display:block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }
    .burger-icon span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: color("grise");
        margin: 6px 0;
        transition: 0.4s;
    }
    .sidenav{
        height: 100%;
        width: 280px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -280px;
        background-color: color("grise");
        padding-top: 60px;
        transition: right .8s ease;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);

        & nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            & li{
                padding: 10px 20px;
                
                & a {
                    font-size: police("md");
                    color: color("or");
                    text-decoration: none;
                    display: block;
                }
            }
        }
        /* Active class */
        &.active{
            right: 0;
        }
        
        /* Close btn */
        &.close {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
        }
    }
}
